/* demo */

div.demolayout {
    width:460px;
    margin: 0 0 20px 0;
}

ul.demolayout {
    list-style-type: none;
    float: left;
    margin:0px;
    padding:0px;
}

ul.demolayout li {
    margin: 0 10px 0 0;
    float: left;
}
.tab{
    border:1px #DFDFDF solid;
    padding:0 0 25px 0;
}
ul.demolayout a {
    float: left;
    display: block;
    padding: 5px 25px;
    border: 1px solid #DFDFDF;
    border-bottom: 0;
    color: #666;
    background: #eee;
    text-decoration: none;
    font-weight: bold;
}

ul.demolayout a:hover {
    background: #fff;
}

ul.demolayout a.active {
    background: #fff;
    padding-bottom: 5px;
    cursor: default;
    color:#795636;
}

.tabs-container {
    clear: left;
    padding:0px;
}
/*--------------cart_table-------------*/
.cart_table{
    width:440px;
    border:1px #CCCCCC solid;
    text-align:center;
}
tr.cart_title{
    background-color:#DFDFDF;
}
td{
    padding:3px;
}
td.cart_total{
    text-align:right;
    padding:5px 15px 5px 0;
}
img.cart_thumb{
    border:1px #b2b2b2 solid;
    padding:2px;
}