<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.BookManagerMapper" >
  <resultMap id="BookResultMap" type="com.dragon.book.mapper.BookManagerMapper" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="isbn" property="isbn" jdbcType="VARCHAR"/>
    <result column="sm" property="sm" jdbcType="VARCHAR" />
    <result column="cbsmc" property="cbsmc" jdbcType="VARCHAR" />
    <result column="cbrq" property="cbrq" jdbcType="VARCHAR" />
    <result column="zz" property="zz" jdbcType="VARCHAR" />
    <result column="lxmc" property="lxmc" jdbcType="VARCHAR" />
    <result column="tsdl" property="tsdl" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="wz" property="wz" jdbcType="VARCHAR" />
    <result column="sh" property="sh" jdbcType="INTEGER" />
    <result column="rksj" property="rksj" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByDimPage" resultType="com.dragon.book.pojo.BookInfo" parameterType="com.dragon.book.pojo.QueryVo">
      select
	    su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.sm uname,su.wz,su.sh,su.rksj,su.status
      from (
                  select s.*,u.sm
                  from t_store s
                  left join t_sys_user u
                  on s.user_id = u.user_id
          ) su
      left join (
                  select b.*,t.lxmc
                  from t_book b
                  left join t_type t
                  on b.type_id = t.type_id

          ) tb
      on su.isbn = tb.isbn
      <if test="dim != null and dim != ''">
          where tb.sm like '%${dim}%' or tb.zz like '%${dim}%'
      </if>
      limit #{start},${end}
  </select>

  <select id="selectByDimTotal" resultType="int" parameterType="com.dragon.book.pojo.QueryVo">
    select count(*)
    from (
    select s.*,u.sm
    from t_store s
    left join t_sys_user u
    on s.user_id = u.user_id
    ) su
    left join (
    select b.*,t.lxmc
    from t_book b
    left join t_type t
    on b.type_id = t.type_id
    ) tb
    on su.isbn = tb.isbn
    <if test="dim != null and dim != ''">
      where tb.sm like '%${dim}%' or tb.zz like '%${dim}%'
    </if>
  </select>

  <select id="selectCommentByIsbnTotal" resultType="int" parameterType="com.dragon.book.pojo.QueryVo">
      select count(*)
      from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
      <if test="dim != null and dim != ''">
          WHERE c.isbn = ${dim}
      </if>
  </select>
  <select id="selectCommentInfoById" resultType="com.dragon.book.pojo.CommentInfo" parameterType="int">
      select u.sm,c.pjrq,c.nr,c.comment_id commentId
      from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
      where c.comment_id = #{commentId}
  </select>
  <select id="selectCommentByIsbnList" resultType="com.dragon.book.pojo.CommentInfo" parameterType="com.dragon.book.pojo.QueryVo">
      select u.sm,c.pjrq,c.nr,c.comment_id commentId
      from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
      <if test="dim != null and dim != ''">
         WHERE c.isbn = ${dim}
      </if>
       limit #{start},${end}
  </select>
  <select id="selectBookInfoById" resultType="com.dragon.book.pojo.BookInfo" parameterType="int">
      select
	    su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.sm uname,su.wz,su.sh,su.rksj,su.status
      from (
                  select s.*,u.sm
                  from t_store s
                  left join t_sys_user u
                  on s.user_id = u.user_id
                  where s.id = #{id}
          ) su
      left join (
                  select b.*,t.lxmc
                  from t_book b
                  left join t_type t
                  on b.type_id = t.type_id
          ) tb
      on su.isbn = tb.isbn
  </select>
    <select id="bookExport" resultType="com.dragon.book.pojo.BookInfo">
        select
	    su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.sm uname,su.wz,su.sh,su.rksj,su.status
      from (
                  select s.*,u.sm
                  from t_store s
                  left join t_sys_user u
                  on s.user_id = u.user_id
          ) su
      left join (
                  select b.*,t.lxmc
                  from t_book b
                  left join t_type t
                  on b.type_id = t.type_id
          ) tb
      on su.isbn = tb.isbn
      order by su.status
    </select>
</mapper>