<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.BookManagerMapper">
    <resultMap id="HistoryResult" type="com.dragon.book.pojo.HistoryInfo">
        <id column="id" property="id"/>
        <result column="jyrq" property="jyrq"/>
        <result column="ghrq" property="ghrq"/>
        <result column="status" property="status"/>
        <result column="jyzt" property="jyzt"/>
        <result column="jhghrq" property="jhghrq"/>
        <result column="xjrq" property="xjrq"/>
        <association property="book" javaType="com.dragon.book.model.TBook">
            <id column="isbn" property="isbn"/>
            <result column="sm" property="sm"/>
            <result column="zz" property="zz"/>
            <result column="cbsmc" property="cbsmc"/>
            <result column="tsdl" property="tsdl"/>
            <result column="picture" property="picture"/>
            <result column="jj" property="jj"/>
        </association>
        <association property="user" javaType="com.dragon.book.model.TSysUser">
            <id column="userId" property="userId"/>
            <result column="xm" property="xm"/>
            <result column="lxfs" property="lxfs"/>
            <result column="dz" property="dz"/>
            <result column="bm" property="bm"/>
        </association>

    </resultMap>
    <select id="selectByDimPage" resultType="com.dragon.book.pojo.BookInfo"
            parameterType="com.dragon.book.pojo.QueryVo">
        select
        su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.xm uname,su.wz,su.sh,su.rksj,su.status,tb.jj,tb.picture
        from (
        select s.*,u.xm
        from t_store s
        left join t_sys_user u
        on s.user_id = u.user_id
        ) su
        left join (
        select b.*,t.lxmc
        from t_book b
        left join t_type t
        on b.type_id = t.type_id

        ) tb
        on su.isbn = tb.isbn
        <if test="dim != null and dim != ''">
            where tb.sm like '%${dim}%' or tb.zz like '%${dim}%'
        </if>
        limit #{start},${end}
    </select>

    <select id="selectByDimTotal" resultType="int" parameterType="com.dragon.book.pojo.QueryVo">
        select count(*)
        from (
        select s.*,u.xm
        from t_store s
        left join t_sys_user u
        on s.user_id = u.user_id
        ) su
        left join (
        select b.*,t.lxmc
        from t_book b
        left join t_type t
        on b.type_id = t.type_id
        ) tb
        on su.isbn = tb.isbn
        <if test="dim != null and dim != ''">
            where tb.sm like '%${dim}%' or tb.zz like '%${dim}%'
        </if>
    </select>

    <select id="selectCommentByIsbnTotal" resultType="int" parameterType="com.dragon.book.pojo.QueryVo">
        select count(*)
        from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
        <if test="dim != null and dim != ''">
            WHERE c.isbn = ${dim}
        </if>
    </select>
    <select id="selectCommentInfoById" resultType="com.dragon.book.pojo.CommentInfo" parameterType="int">
      select u.xm,c.pjrq,c.nr,c.comment_id commentId
      from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
      where c.comment_id = #{commentId}
  </select>
    <select id="selectCommentByIsbnList" resultType="com.dragon.book.pojo.CommentInfo"
            parameterType="com.dragon.book.pojo.QueryVo">
        select u.xm,c.pjrq,c.nr,c.comment_id commentId
        from t_comment c LEFT JOIN t_sys_user u on c.user_id = u.user_id
        <if test="dim != null and dim != ''">
            WHERE c.isbn = ${dim}
        </if>
        limit #{start},${end}
    </select>
    <select id="selectBookInfoById" resultType="com.dragon.book.pojo.BookInfo" parameterType="java.lang.String">
       select
	    su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.xm uname,su.wz,su.sh,su.rksj,su.status,tb.picture,tb.jj,(SELECT u.xm FROM t_store s,t_sys_user u,t_borrow b WHERE u.user_id = b.user_id AND b.s_id=s.id   AND b.jyzt!=2 AND s.id=#{id}) jyxm
      from (
                  select s.*,u.xm
                  from t_store s
                  left join t_sys_user u
                  on s.user_id = u.user_id
                  where s.id = #{id}

          ) su,
      (
                  select b.*,t.lxmc
                  from t_book b
                  left join t_type t
                  on b.type_id = t.type_id
          ) tb
      where
			su.isbn = tb.isbn
  </select>
    <select id="bookExport" resultType="com.dragon.book.pojo.BookInfo">
        select
	    su.id,tb.isbn,tb.sm,tb.cbsmc,tb.cbrq,tb.zz,tb.lxmc,tb.tsdl,su.xm uname,su.wz,su.sh,su.rksj,su.status,tb.jj,tb.picture
      from (
                  select s.*,u.xm
                  from t_store s
                  left join t_sys_user u
                  on s.user_id = u.user_id
          ) su
      left join (
                  select b.*,t.lxmc
                  from t_book b
                  left join t_type t
                  on b.type_id = t.type_id
          ) tb
      on su.isbn = tb.isbn
      order by su.status
    </select>
    <select id="selectHistoryPage" resultMap="HistoryResult" parameterType="com.dragon.book.util.PageBean">
        SELECT temp.id,temp.jyrq,temp.ghrq,temp.isbn,temp.xm,tb.sm,tb.tsdl,tb.zz,tb.cbsmc,
        temp.`status`,temp.jyzt,temp.jhghrq,temp.xjrq,
        temp.lxfs,temp.bm,temp.dz,temp.user_id userId
        FROM
        (SELECT b.id id,b.jyrq,b.ghrq,
        b.`status`,b.jyzt,b.jhghrq,b.xjrq,
        s.isbn,u.xm,u.lxfs,u.bm,u.dz,u.user_id
        FROM t_borrow b
        LEFT JOIN t_store s ON b.s_id = s.id
        LEFT JOIN t_sys_user u ON b.user_id = u.user_id
        WHERE 1=1
        <if test="user != null and user != ''">
            AND u.xm LIKE '%${user}%'
        </if>
        <if test="startTime != null and startTime != ''">
            AND b.jyrq &gt;= '${startTime}'
        </if>
        <if test="endTime != null and endTime != ''">
            AND b.jyrq &lt;= '${endTime}'
        </if>
        ) temp
        LEFT JOIN t_book tb ON temp.isbn = tb.isbn
        <if test="dim != null and dim != ''">
            WHERE tb.sm LIKE '%${dim}%' OR tb.zz LIKE '%${dim}%'
        </if>
        ORDER BY temp.jyrq DESC
    </select>
    <select id="selectHistoryById" resultMap="HistoryResult" parameterType="Integer">
        SELECT temp.id,temp.jyrq,temp.ghrq,temp.isbn,temp.xm,tb.sm,tb.tsdl,tb.zz,tb.cbsmc,tb.jj,tb.picture,temp.`status`,temp.jyzt,temp.jhghrq,temp.xjrq,
        temp.lxfs,temp.bm,temp.dz,temp.user_id userId
        FROM
        (SELECT b.id id,b.jyrq,b.ghrq,
        b.`status`,b.jyzt,b.jhghrq,b.xjrq,
        s.isbn,u.xm,u.lxfs,u.bm,u.dz,u.user_id
        FROM t_borrow b
        LEFT JOIN t_store s ON b.s_id = s.id
        LEFT JOIN t_sys_user u ON b.user_id = u.user_id
        WHERE b.id = #{id}
        ) temp
        LEFT JOIN t_book tb ON temp.isbn = tb.isbn
    </select>
</mapper>