<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.BorrowMapper">

    <resultMap id="BorrowResultMap" type="com.dragon.book.pojo.Borrow">
        <id column="id" property="id"  />
        <result column="s_id" property="sId"  />
        <result column="sm" property="sm"  />
        <result column="cs" property="cs"/>
        <association property="user" javaType="com.dragon.book.model.TSysUser"
                     column="userId" foreignColumn="userId">
            <id column="user_id" property="userId"/>
            <result column="xm" property="xm"/>
        </association>
    </resultMap>


    <select id="selectByUserTop" resultMap="BorrowResultMap">
		select
		b.id,b.s_id,b.sm,u.xm,count(u.user_id)
		as cs
		from t_borrow b 
		left outer join t_sys_user u on b.user_id = u.user_id 
		GROUP BY u.user_id ORDER BY cs DESC LIMIT 10

	</select>

    <select id="selectByBookTop" resultMap="BorrowResultMap">
		select
		id,s_id,sm
		,
		COUNT(s_id) as cs
		from t_borrow
		GROUP BY s_id ORDER BY cs desc LIMIT 10

	</select>

</mapper>