<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.BorrowMapper">

    <resultMap id="BorrowResultMap" type="com.dragon.book.pojo.Borrow">
        <id column="id" property="id"  />
        <result column="s_id" property="sId"  />
        <result column="sm" property="sm"  />
        <result column="cs" property="cs"/>
		<result column="rksj" property="rksj"/>
        <association property="user" javaType="com.dragon.book.model.TSysUser"
                     column="userId" foreignColumn="userId">
            <id column="user_id" property="userId"/>
            <result column="xm" property="xm"/>
			<result column="bm" property="bm"  />
        </association>
		<association property="book" javaType="com.dragon.book.model.TBook"
					 column="isbn" foreignColumn="isbn">
			<id column="isbn" property="isbn"/>
			<id column="sm" property="sm"/>
			<result column="jj" property="jj"/>
			<result column="picture" property="picture"  />
		</association>
    </resultMap>


    <select id="selectByUserTop" resultMap="BorrowResultMap">
		select
		b.id,b.s_id,u.xm,u.bm,count(u.user_id)
		as cs
		from t_borrow b 
		left outer join t_sys_user u on b.user_id = u.user_id 
		GROUP BY u.user_id ORDER BY cs DESC LIMIT 8

	</select>

    <select id="selectByBookTop" resultMap="BorrowResultMap">
		select
		book.isbn,s_id,book.sm,jj,picture,
		COUNT(s_id) as cs
		from t_borrow b left outer join t_store s ON b.s_id = s.id left outer join t_book book  ON s.isbn = book.isbn
		GROUP BY book.isbn ORDER BY cs desc LIMIT 6
	</select>

	<select id="selectByBookNew" resultMap="BorrowResultMap">
		select
		b.isbn,b.sm,jj,picture,s.rksj
		from t_book b left outer join t_store s ON b.isbn = s.isbn
	    GROUP BY s.isbn ORDER BY s.rksj desc LIMIT 6
	</select>

	<update id="returnBookRequest" parameterType="java.lang.String">
		update
		t_borrow
		set status=2,jyzt=2
		where s_id = #{sId,jdbcType=VARCHAR} and jyzt!=2 and status=1
	</update>

	<select id="getBorrow" parameterType="int" resultType="int">
		select COUNT(*) from t_borrow where user_id=#{id} and jyzt !=#{status}
	</select>

</mapper>