<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.CheckMapper">

    <!--借阅审核-->
    <select id="getTBorrowCheckList" resultType="com.dragon.book.pojo.TBorrowInfo" parameterType="map">
        SELECT n.*,b.type_id typeId,b.tsdl,p.lxmc FROM
        (SELECT ts.isbn,e.* FROM
        (
        SELECT s.xm,s.user_id userId,t.*,t.s_id sId FROM t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id
        ) e,t_store ts
        WHERE e.s_id=ts.id
        ) n,t_book b ,t_type p
        WHERE n.isbn=b.isbn AND p.type_id=b.type_id
        <if test="typeId != null and typeId != ''">
            and b.type_id = #{typeId,jdbcType=INTEGER}
        </if>
        <if test="status != null and status != ''">
            and n.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="eBookXm != null and eBookXm != ''">
            and n.sm like CONCAT('%',#{eBookXm,jdbcType=VARCHAR},'%')
        </if>
        order by n.id
        <if test="first != null and rowNum != null">
            limit #{first,jdbcType=INTEGER},#{rowNum,jdbcType=INTEGER}
        </if>
	</select>

    <select id="getCounts" resultType="int">
        SELECT count(*) FROM
        (SELECT ts.isbn,e.* FROM
        (
        SELECT s.xm,t.* FROM t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id
        ) e,t_store ts
        WHERE e.s_id=ts.id
        ) n,t_book b ,t_type p
        WHERE n.isbn=b.isbn AND p.type_id=b.type_id
        <if test="typeId != null and typeId != ''">
            and b.type_id = #{typeId,jdbcType=INTEGER}
        </if>
        <if test="status != null and status != ''">
            and n.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="eBookXm != null and eBookXm != ''">
            and n.sm like CONCAT('%',#{eBookXm,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="getSingleCheckTBorrow" resultType="com.dragon.book.pojo.TBorrowInfo" parameterType="int">
        SELECT n.*,b.type_id typeId,b.tsdl,p.lxmc FROM
        (SELECT ts.isbn,e.* FROM
        (
        SELECT s.xm,s.user_id userId,t.*,t.s_id sId FROM t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id
        ) e,t_store ts
        WHERE e.s_id=ts.id
        ) n,t_book b ,t_type p
        WHERE n.isbn=b.isbn AND p.type_id=b.type_id
        AND n.id = #{id,jdbcType=INTEGER}
    </select>

   <!--归还审核-->

    <select id="getTBorrowRevertListCounts" resultType="com.dragon.book.pojo.TBorrowInfo" parameterType="map">
        SELECT count(*) FROM
        (SELECT ts.isbn,e.* FROM
        (
        SELECT s.xm,t.* FROM t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id
        ) e,t_store ts
        WHERE e.s_id=ts.id
        ) n,t_book b ,t_type p
        WHERE n.isbn=b.isbn AND p.type_id=b.type_id AND n.status=1
        <if test="typeId != null and typeId != '' ">
            and b.type_id = #{typeId,jdbcType=INTEGER}
        </if>
        <if test="jyzt != null and jyzt != '' ">
            and n.jyzt = #{jyzt,jdbcType=INTEGER}
        </if>
        <if test="eBookXm != null and eBookXm != '' ">
            and n.sm like CONCAT('%',#{eBookXm,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="getTBorrowRevertList" resultType="com.dragon.book.pojo.TBorrowInfo" parameterType="map">
        SELECT n.*,b.type_id typeId,b.tsdl,p.lxmc FROM
        (SELECT ts.isbn,e.* FROM
        (
        SELECT s.xm,s.user_id userId,t.*,t.s_id sId FROM t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id
        ) e,t_store ts
        WHERE e.s_id=ts.id
        ) n,t_book b ,t_type p
        WHERE n.isbn=b.isbn AND p.type_id=b.type_id AND n.status=1
        <if test="typeId != null and typeId != '' ">
            and b.type_id = #{typeId,jdbcType=INTEGER}
        </if>
        <if test="jyzt != null and jyzt != '' ">
            and n.jyzt = #{jyzt,jdbcType=INTEGER}
        </if>
        <if test="eBookXm != null and eBookXm != '' ">
            and n.sm like CONCAT('%',#{eBookXm,jdbcType=VARCHAR},'%')
        </if>
        order by n.id
        <if test="first != null and rowNum != null">
            limit #{first,jdbcType=INTEGER},#{rowNum,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getSingleRevertTBorrow" resultType="com.dragon.book.model.TBorrowVo" parameterType="int">
        SELECT b.isbn,n.* FROM t_store b,
          (SELECT e.*,o.sh FROM (SELECT s.xm,s.user_id userId,t.* FROM
          t_borrow t LEFT JOIN t_sys_user s ON t.user_id = s.user_id )e ,t_store o
          WHERE  o.id=e.s_Id) n
          WHERE n.s_id=b.id and n.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateRevertTBorrowSh" parameterType="map" >
        update t_store
        set sh = #{sh,jdbcType=INTEGER}
        where id=#{sId,jdbcType=VARCHAR}
    </update>
</mapper>