<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.my.NewsDao">

    <resultMap id="bookNews" type="com.dragon.book.pojo.BookNews">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="book_isbn" property="book_isbn"/>
        <result column="news_name" property="news_name"/>
        <result column="news_date" property="news_date"/>
        <result column="news_type" property="news_type"/>
        <collection property="tBook" ofType="com.dragon.book.model.TBook">
            <result column="isbn" property="isbn"/>
            <result column="sm" property="sm"/>
            <result column="cbsmc" property="cbsmc"/>
            <result column="cbrq" property="cbrq"/>
            <result column="zz" property="zz"/>
            <result column="typeId" property="typeId"/>
            <result column="tsdl" property="tsdl"/>
            <result column="picture" property="picture"/>
            <result column="jj" property="jj"/>
        </collection>
    </resultMap>

    <delete id="deleteNews">
        delete
        from
        t_book_news
        where
        id=#{id}
    </delete>

    <select id="findDetailInfo" resultType="com.dragon.book.model.TBorrow">
     select
     s_id as sId,
     sm,
     jyrq,
     jhghrq
     from
     t_borrow
     where
     s_id=#{isbn}
     and
     user_id=#{userId}
    </select>

    <select id="findNews" resultMap="bookNews">
        select
        *
        from
        t_book_news
        left join
        t_book
        on
        t_book_news.book_isbn = t_book.isbn
        where
        t_book_news.user_id=#{userId}
    </select>

    <insert id="addRenewNews" parameterType="com.dragon.book.model.TBookNews">
        insert into
        t_book_news
        (user_id,book_isbn,news_name,news_date,news_type)
        values
        (${userId},#{isbn},"续借",#{date},1)
    </insert>

</mapper>