<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.my.PersonalDao" >

    <resultMap id="bookBorrow" type="com.dragon.book.pojo.BookBorrow">
        <id column="isbn"  property="isbn"/>
        <result column="sm" property="sm"/>
        <result column="zz" property="zz"/>
        <collection property="tBorrow" ofType="com.dragon.book.model.TBorrow">
            <result column="id" property="id"/>
            <result column="jyrq" property="jyrq"/>
            <result column="jhghrq" property="jhghrq"/>
        </collection>
    </resultMap>

    <select id="selectBookInformation" resultMap="bookBorrow">
        select
        t_book.isbn,
        t_book.sm,
        t_book.zz,
        t_borrow.id,
        t_borrow.jyrq,
        t_borrow.jhghrq
         from
         t_book
        right join
         t_borrow
         on
         t_book.isbn=t_borrow.s_id
         where
         t_borrow.user_id=#{userId}
         and
         t_borrow.jhghrq>now()
         and
         t_borrow.jyzt!=2
    </select>

    <select id="selectUserInformation" resultType="com.dragon.book.model.TSysUser">
        select
         a.xm,
         a.lxfs,
         a.dz,
         a.bm,
         a.kjtscs,
         a.grsm
         from
         t_sys_user as a
         where user_id=#{userId}
    </select>

    <update id="updateBorrow">
      update
      t_borrow
      set
      jyzt=2,
      `status` = 2
      where
      s_id=#{isbn}
      and
      user_id=#{userId}
    </update>

    <update id="updatejszt">
      update
      t_borrow
      set
      `status` = 2,
       jyzt=1
       where
       s_id=#{isbn}
        and
        user_id=#{userId}
    </update>

    <select id="selectBorrowInfo" resultType="com.dragon.book.model.TBorrow">
        select
         id,s_id as sId,
         sm,
         jyrq,
         jhghrq,
         xjrq,
         ghrq,
         status,
         jyzt,
         bz
         from
         t_borrow
         where
         id=#{id}
    </select>

</mapper>