<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.TBookNewsMapper" >
  <resultMap id="BaseResultMap" type="com.dragon.book.model.TBookNews" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="book_isbn" property="bookIsbn" jdbcType="VARCHAR" />
    <result column="news_name" property="newsName" jdbcType="VARCHAR" />
    <result column="news_date" property="newsDate" jdbcType="VARCHAR" />
    <result column="news_type" property="newsType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, book_isbn, news_name, news_date, news_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dragon.book.model.TBookNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_book_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dragon.book.model.TBookNewsExample" >
    delete from t_book_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.book.model.TBookNews" >
    insert into t_book_news (id, user_id, book_isbn, 
      news_name, news_date, news_type
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookIsbn,jdbcType=VARCHAR}, 
      #{newsName,jdbcType=VARCHAR}, #{newsDate,jdbcType=VARCHAR}, #{newsType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.book.model.TBookNews" >
    insert into t_book_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bookIsbn != null" >
        book_isbn,
      </if>
      <if test="newsName != null" >
        news_name,
      </if>
      <if test="newsDate != null" >
        news_date,
      </if>
      <if test="newsType != null" >
        news_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookIsbn != null" >
        #{bookIsbn,jdbcType=VARCHAR},
      </if>
      <if test="newsName != null" >
        #{newsName,jdbcType=VARCHAR},
      </if>
      <if test="newsDate != null" >
        #{newsDate,jdbcType=VARCHAR},
      </if>
      <if test="newsType != null" >
        #{newsType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.book.model.TBookNewsExample" resultType="java.lang.Integer" >
    select count(*) from t_book_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_book_news
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.bookIsbn != null" >
        book_isbn = #{record.bookIsbn,jdbcType=VARCHAR},
      </if>
      <if test="record.newsName != null" >
        news_name = #{record.newsName,jdbcType=VARCHAR},
      </if>
      <if test="record.newsDate != null" >
        news_date = #{record.newsDate,jdbcType=VARCHAR},
      </if>
      <if test="record.newsType != null" >
        news_type = #{record.newsType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_book_news
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      book_isbn = #{record.bookIsbn,jdbcType=VARCHAR},
      news_name = #{record.newsName,jdbcType=VARCHAR},
      news_date = #{record.newsDate,jdbcType=VARCHAR},
      news_type = #{record.newsType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>