<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.TBookMapper" >
  <resultMap id="BaseResultMap" type="com.dragon.book.model.TBook" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="isbn" property="isbn" jdbcType="VARCHAR" />
    <result column="sm" property="sm" jdbcType="VARCHAR" />
    <result column="pub_id" property="pubId" jdbcType="VARCHAR" />
    <result column="cbrq" property="cbrq" jdbcType="DATE" />
    <result column="zz" property="zz" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="tsdl" property="tsdl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, isbn, sm, pub_id, cbrq, zz, type_id, tsdl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dragon.book.model.TBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_book
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_book
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.book.model.TBookExample" >
    delete from t_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.book.model.TBook" >
    insert into t_book (id, isbn, sm, 
      pub_id, cbrq, zz, type_id, 
      tsdl)
    values (#{id,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR}, 
      #{pubId,jdbcType=VARCHAR}, #{cbrq,jdbcType=DATE}, #{zz,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{tsdl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.book.model.TBook" >
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isbn != null" >
        isbn,
      </if>
      <if test="sm != null" >
        sm,
      </if>
      <if test="pubId != null" >
        pub_id,
      </if>
      <if test="cbrq != null" >
        cbrq,
      </if>
      <if test="zz != null" >
        zz,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="tsdl != null" >
        tsdl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="pubId != null" >
        #{pubId,jdbcType=VARCHAR},
      </if>
      <if test="cbrq != null" >
        #{cbrq,jdbcType=DATE},
      </if>
      <if test="zz != null" >
        #{zz,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="tsdl != null" >
        #{tsdl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.book.model.TBookExample" resultType="java.lang.Integer" >
    select count(*) from t_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_book
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.isbn != null" >
        isbn = #{record.isbn,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null" >
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
      <if test="record.pubId != null" >
        pub_id = #{record.pubId,jdbcType=VARCHAR},
      </if>
      <if test="record.cbrq != null" >
        cbrq = #{record.cbrq,jdbcType=DATE},
      </if>
      <if test="record.zz != null" >
        zz = #{record.zz,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.tsdl != null" >
        tsdl = #{record.tsdl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_book
    set id = #{record.id,jdbcType=VARCHAR},
      isbn = #{record.isbn,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR},
      pub_id = #{record.pubId,jdbcType=VARCHAR},
      cbrq = #{record.cbrq,jdbcType=DATE},
      zz = #{record.zz,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      tsdl = #{record.tsdl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.book.model.TBook" >
    update t_book
    <set >
      <if test="isbn != null" >
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        sm = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="pubId != null" >
        pub_id = #{pubId,jdbcType=VARCHAR},
      </if>
      <if test="cbrq != null" >
        cbrq = #{cbrq,jdbcType=DATE},
      </if>
      <if test="zz != null" >
        zz = #{zz,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="tsdl != null" >
        tsdl = #{tsdl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.book.model.TBook" >
    update t_book
    set isbn = #{isbn,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR},
      pub_id = #{pubId,jdbcType=VARCHAR},
      cbrq = #{cbrq,jdbcType=DATE},
      zz = #{zz,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      tsdl = #{tsdl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>