<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.book.mapper.TEbookTypeMapper" >
  <resultMap id="BaseResultMap" type="com.dragon.book.model.TEbookType" >
    <id column="ebook_typeid" property="ebookTypeid" jdbcType="INTEGER" />
    <result column="ebook_typemc" property="ebookTypemc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ebook_typeid, ebook_typemc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dragon.book.model.TEbookTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ebook_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ebook_type
    where ebook_typeid = #{ebookTypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ebook_type
    where ebook_typeid = #{ebookTypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.book.model.TEbookTypeExample" >
    delete from t_ebook_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.book.model.TEbookType" >
    insert into t_ebook_type (ebook_typeid, ebook_typemc)
    values (#{ebookTypeid,jdbcType=INTEGER}, #{ebookTypemc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.book.model.TEbookType" >
    insert into t_ebook_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ebookTypeid != null" >
        ebook_typeid,
      </if>
      <if test="ebookTypemc != null" >
        ebook_typemc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ebookTypeid != null" >
        #{ebookTypeid,jdbcType=INTEGER},
      </if>
      <if test="ebookTypemc != null" >
        #{ebookTypemc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.book.model.TEbookTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_ebook_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ebook_type
    <set >
      <if test="record.ebookTypeid != null" >
        ebook_typeid = #{record.ebookTypeid,jdbcType=INTEGER},
      </if>
      <if test="record.ebookTypemc != null" >
        ebook_typemc = #{record.ebookTypemc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ebook_type
    set ebook_typeid = #{record.ebookTypeid,jdbcType=INTEGER},
      ebook_typemc = #{record.ebookTypemc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.book.model.TEbookType" >
    update t_ebook_type
    <set >
      <if test="ebookTypemc != null" >
        ebook_typemc = #{ebookTypemc,jdbcType=VARCHAR},
      </if>
    </set>
    where ebook_typeid = #{ebookTypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.book.model.TEbookType" >
    update t_ebook_type
    set ebook_typemc = #{ebookTypemc,jdbcType=VARCHAR}
    where ebook_typeid = #{ebookTypeid,jdbcType=INTEGER}
  </update>
</mapper>